/*
CSS BOX MODEL, PADDING, MARGIN, BORDER
--------------------------
BORDER-RADIUS, NEGATIVE MARGIN
-------------------------
Outline, OFfset
------------------------
Border Hack
*/
/* * {
  margin: 0;
} */

h1,
p {
  color: white;
}
h1 {
  background: red;
  padding: 10px;
  margin: 3rem;
  /* border-style: solid;
  border-width: 10px;
  border-color: chartreuse; */
  /* border-bottom: 0.5rem dotted blue; */
  /* border-bottom-style
  border-bottom-color
  border-bottom-width */
  border: 15px solid black;
  border-radius: 5px;
}

p {
  background: blue;
  /* border: 1rem dashed red; */
  /* margin: 20px 40px; */
  padding: 15px;
  /* padding: 30px 60px; */
  /* padding: 5px 20px 50px 40px;
  margin: 4rem 4px 50px 10px; */
  border: 7px dotted purple;
  border-radius: 50%;
  margin-top: -50px;
}

.links {
  margin: 3rem;
}

a {
  background-color: #689f3f;
  text-decoration: none;
  padding: 1.2rem 1.5rem;
  color: #222;
  text-transform: uppercase;
  margin: 0 20px;
}

#one {
  border: 0.2rem solid #222;
}

#two {
  outline: 0.2rem #222 solid;
  /* outline-width: 0.2rem;
  outline-color: #222;
  outline-style: solid; */
  outline-offset: -3px;
}
