/* class selectors */
/* DIV and SPAN - used for grouping */
/* DIV - used for  */
/*  */

body {
  color: red;
  font-family: monospace;
  line-height: 1.5;
  font-size: 20px;
}
.green {
  color: green;
  font-size: 30px;
}
.red {
  color: red;
  background: yellow;
}

span {
  text-transform: uppercase;
  background: white;
}
